# Ignore environment variables
.env
.venv/

config.py
__pycache__

package-lock.json
package.json

# Ignore node modules
node_modules/

instance/*

*.db

# Ignore build artifacts
build/
dist/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore logs
*.log

# Ignore config.js (contains sensitive information)
config.js

.DS_Store

migrations/